<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2F2299D2-2D0A-4E42-9352-5A77483E7336</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dl</string>
			<key>text</key>
			<string>DeepL</string>
			<key>url</key>
			<string>https://www.deepl.com/ja/translator#en/ja/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
