<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>9CB2B55E-5596-4CD5-8E09-616991AA559E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>803AD020-78AE-4461-B5C2-C46A725F87B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Post task to Notion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "net/http"
require "uri"
require "json"
require "date"

MY_NOTION_TOKEN=ENV["TOKEN"]
DATABASE_ID=ENV["DATABASE_ID"]
TZ="+09:00"

def send_notion(title)
  uri = URI.parse("https://api.notion.com/v1/pages")
  request = Net::HTTP::Post.new(uri)
  request.content_type = "application/json"
  request["Authorization"] = "Bearer #{MY_NOTION_TOKEN}"
  request["Notion-Version"] = "2021-05-13"
  request.body = JSON.dump({
    "parent" =&gt; {
      "database_id" =&gt; "#{DATABASE_ID}"
    },
    "properties" =&gt; {
      "Name" =&gt; {
        "title" =&gt; [
          {
            "text" =&gt; {
              "content" =&gt; "#{title}"
            }
          }
        ]
      }
    }
  })

  response = Net::HTTP.start(uri.hostname, uri.port, use_ssl: true) do |http|
    http.request(request)
  end

  code = response.code
  # print "#{title}\t#{datetime}...#{code}\n"
  unless code == "200"
    # エラーの時だけエラーを表示する
    STDERR.print "Error!\n#{response.body}\n"
  end
end

send_notion(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>803AD020-78AE-4461-B5C2-C46A725F87B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Post task to Notion</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9CB2B55E-5596-4CD5-8E09-616991AA559E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>803AD020-78AE-4461-B5C2-C46A725F87B6</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9CB2B55E-5596-4CD5-8E09-616991AA559E</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DATABASE_ID</key>
		<string>a5db40ab5c0c4d559b0fdaa66ee75933</string>
		<key>TOKEN</key>
		<string>secret_lv8D6o7X8buU5kureui3piX4CmGgb0X9Z6SbgG3upKB</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
